HELP.md
target/
target/classes/META-INF/maven/br.com.inmetrics/treinamentoINMSelenium
target/classes/META-INF/maven/br.com.inmetrics/treinamentoINMSelenium/pom.properties
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

mariadb

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/